#footer{
	background-color: var(--footer-color);
	height: var(--footer-height);
}

#footer .avis_legal{
    border-top: 2px solid #ccc;
	padding: 5px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

#peuImatge{
	padding: 0 5px;
}

#peuAvis{
	padding: 0 5px;
	font-size: 0.788em;
    color: #999999;
}